<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
<%= @tweet.content %>
<input type="text" id="conent" name="content">
<input type="submit" value="submit">
</form>
