<h1>Create Tweet</h1>
<form action="/tweets" method="post">
        <label for="content">Tweet Content:</label><br>
        <input type="text" name="content"><br>
        <br>
        <button type="submit" name="submit" id="submit" value="Submit">Create Tweet</button>
    </form>