<h2>Write your Tweet Content!</h2>

<form action="/tweets" method="POST">
  
  <label>Content:</label>
  <input type="text" id="content" name="content">
  <button type="submit" id="submit" name="Submit">Tweet</button>
</form>